/* Mobile Sidebar : Start */
.mobile-sidebar {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #007bff 60px, rgba(0, 0, 0, 0) 0px);
}

i.icon-mobile-sidebar {
    color: #007bff;
    background-color: white;
    padding: 6%;
    border-radius: 50px;
    transition: 0.5s;
}

i.icon-mobile-sidebar:hover {
    margin-top: -20px;
    color: white;
    background-color: #007bff;
    transition: 0.5s;
}

i.icon-mobile-sidebar.active {
    color: white;
    background-color: #007bff;
}
/* Mobile Sidebar : End */

/* Table Sidebar : Start */
.tablet-sidebar {
    background-color: #007bff;
    height: 100vh;
    color: white;
    width: 12%;
}

.logo-tablet-sidebar {
    margin-top: 25px;
}

.divider {
    background-color: white;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

.icon-tablet-sidebar {
    color: white;
    padding: 25px;
    border-radius: 10px;
    background-color: #007bff;
    font-size: 20px;
    transition: 0.5s;
}

i.icon-tablet-sidebar.active {
    color: #007bff;
    background-color: white;
}

i.icon-tablet-sidebar:hover {
    color: #007bff;
    background-color: white;
    transition: 0.5s;
}
/* Table Sidebar : End */